.primaryBtn {
  position: relative;
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 2px;
  background: white;
  color: rgba(26, 26, 26, 0.9);
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  padding: 5px;
}

.primaryBtn:hover {
  background: rgba(26, 26, 26, 0.9);
  color: white;
  transition: background 0.3s ease-out;
}

.saveBtn {
  position: relative;
  width: 150px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 2px;
  background: white;
  color: rgb(22, 190, 120);
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 255, 149, 0.16),
    0 3px 6px rgba(0, 255, 149, 0.23);
  border-radius: 3px;
}

.saveBtn:hover {
  background: rgb(22, 190, 120);
  color: white;
  transition: background 0.6s ease-out;
}

.closeBtn {
  position: relative;
  width: 150px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 2px;
  background: white;
  color: rgb(255, 60, 102);
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 6px rgba(255, 60, 102, 0.16),
    0 3px 6px rgba(255, 60, 102, 0.23);
  border-radius: 3px;
}

.closeBtn:hover {
  background: rgb(255, 60, 102);
  color: white;
  transition: background 0.6s ease-out;
}

.outlineBtn {
  box-sizing: border-box;
  width: 125px;
  height: 50px;
  font-style:normal;
  font-weight: 700;
  background: #ffffff;
  border: 2px solid #183b43;
  border-radius: 4px;
  color:#183b43;
  cursor: pointer;
}

.outlineBtn:hover {
  text-decoration: underline;
}


