.primaryBtn {
  height: 51px;
  background: linear-gradient(
    272.29deg,
    rgba(255, 255, 255, 0.12) 3.51%,
    rgba(255, 255, 255, 0.04) 100%
  );
  border-radius: 25px;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
